:root{
    --Light-Grayish-Cyan: hsl(180, 52%, 96%);
    --Light-Grayish-Cyan-filter: hsl(180, 31%, 95%);
    --Very-Dark-Grayish-Cyan: hsl(180, 14%, 20%);
    --Dark-Grayish-Cyan: hsl(180, 8%, 52%);
    --Desaturated-Dark-Cyan: hsl(180, 29%, 50%);
}

body{
    font-family: 'League Spartan', monospace;
    font-size: 14px;
    font-weight: 500;
    background-color: var(--Light-Grayish-Cyan);
    margin: 0;
    color: var(--Very-Dark-Grayish-Cyan);
}
header{
    position: relative;
}
header img{
    background-color: var(--Desaturated-Dark-Cyan);
}
.desktop{
    width: 100%;
}
.mobile{
    display: none;
    width: 100%;
}

.filter-set{
    position: absolute;
    bottom: -30%;
    right: 10.58%;
    width: 78vw;
    box-sizing: border-box;
    font-weight: 700;
    display: none;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    background-color: white;
    padding: 18px;
}
.filter-set div{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 16px;
}
.filter-set span{
    display: inline;
    padding-top: 20px;
    width: 30px;
}
.filter-set section{
    color: var(--Desaturated-Dark-Cyan);
    overflow: hidden;
    padding-left: 8px;
    height: 30px;
    background-color: var(--Light-Grayish-Cyan);
    border-radius: 5px;
}
.filter-set section button{
    height: 100%;
    width: 28px;
    margin-left: 6px;
    color: white;
    border: none;
    background-color: var(--Desaturated-Dark-Cyan);
}
.filter-set section button:hover{
    background-color: var(--Very-Dark-Grayish-Cyan);
}
.f-clear{
    padding: 0;
    background-color: hsla(39, 77%, 83%, 0);
    border: none;
    font-weight: 700;
    color: var(--Dark-Grayish-Cyan);
}
.f-clear:hover{
    color: var(--Desaturated-Dark-Cyan);
    border-bottom: 1px solid var(--Desaturated-Dark-Cyan);
}


.container{
    padding: 64px 11vw;
}
.item{
    background-color: white;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    box-shadow: 0 8px 16px  hsl(180, 29%, 50%, 20%);
    border-radius: 8px;
    padding: 28px;
    margin-bottom: 24px;
}

.i-body{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: 28px;
    
}
.title{
    font-size: 18px;
    margin: 0 14;
}
.title-holder{
    width: 50%;
}
.title-holder p{
    font-weight: 700;
    margin-block-start: 14px;
    margin-block-end: 14px;
}
.title-holder .usues{
    width: 50%;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    color: var(--Dark-Grayish-Cyan);
}
.domain span{
    margin-left: 8px;
}
.tag-holder span{
    display: none;
    color: white;
    border-radius: 14px;
    padding: 6px 8px;
    padding-top: 9px;
}
.tag-holder .new{
    display: inline;
    background-color: var(--Desaturated-Dark-Cyan);
}
.tag-holder .featured{
    display: inline;
    background-color: var(--Very-Dark-Grayish-Cyan);
}
.domain{
    color: var(--Desaturated-Dark-Cyan);
}


.filter-holder{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: end;
}
.filter-holder button{
    color: var(--Desaturated-Dark-Cyan);
    font-weight: 700;
    border: none;
    padding: 8px;
    border-radius: 4px;
    margin-left: 18px;
    background-color: var(--Light-Grayish-Cyan-filter);
}
.filter-holder button:hover{
    color: white;
    background-color: var(--Desaturated-Dark-Cyan);
}
hr{
    border: none;
    height: 1px;
    background-color: var(--Dark-Grayish-Cyan);
    margin: 0;
}

@media (max-Width: 850px){
    .filter-c{
        padding: 0 6.4vw;
    }
    .filter-set{
        right: 10%;
    }
    .container{
        padding: 32px 6.4vw;
    }
    .i-image{
        align-self: flex-start;
    }
    .item{
        flex-direction: column;
    }
    .i-body{
        flex-direction: column;
        margin: 0;
    }
    .separator{
        display: block;
    }

    .title-holder{
        width: 100%;
    }
    .filter-holder{
        width: 100%;
        justify-content: start;
    }
    .filter-holder button{
        margin-left: 0;
        margin-right: 18px;
        margin-top: 18px;
    }
    .title-holder .usues{
        width: 70%;
    }

}

@media (max-Width: 630px){
    header{
        margin-bottom: 32px;
    }
    .item {
        margin-top: 10%;
    }
    .item{
        position: relative;
    }
    .i-image{
        margin: 1.5%
    }
    .i-image img{
        position: absolute;
        top: -12%;
        width: 15%;
    }

    .desktop{
        display: none;
    }
    .mobile{
        display: block;
    }
}

@media (max-Width: 450px){

    .i-image img{
        position: absolute;
        top: -8%;
        width: 18%;
    }

    .item {
        margin-top: 15%;
    }

}
